.about {
  height: 105vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  font-family: "playfair";
  color: #064a5b;
}

.about__titles {
  position: relative;
  margin: 13vh 5vw;
  z-index: 4;
}

.about__title {
  font-size: 3rem;
  font-style: italic;
  color: #fc9844;
}

.about__subtitle {
  font-size: 1.5rem;
  margin-bottom: 5vh;
  color: #86d1d9;
}

.about__info {
  display: flex;
}

.about_pic {
  height: 105vh;
  width: 42vw;
}

.about__text {
  width: 50vw;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.5;
}

.about__divider {
  display: none;
}

/* Desktop Styles */
@media (min-width: 1025px) {
}

/* Tablet Styles */
@media (min-width: 481px) and (max-width: 1024px) {
  .about {
    justify-content: center;
    height: 190vh;
  }

  .about__titles {
    margin-top: 40vh;
    margin-bottom: 10vh;
    position: static;
  }

  .about_pic {
    position: absolute;
    top: 125vh;
    left: 0;
    width: 100vw;
    height: 70vh;
    z-index: 0;
  }

  .about__divider-top {
    display: block;
    position: absolute;
    z-index: 6;
    top: 210vh;
    width: 100vw;
    height: 2vh;
    background-color: #fc9844;
  }

  .about__divider-top_middle {
    display: block;
    position: absolute;
    z-index: 6;
    top: 212vh;
    width: 100vw;
    height: 2vh;
    background-color: #064a5b;
  }

  .about__divider-top_bottom {
    display: block;
    position: absolute;
    z-index: 6;
    top: 214vh;
    width: 100vw;
    height: 2vh;
    background-color: #86d1d9;
  }

  .about__divider-bottom_bottom {
    display: block;
    position: absolute;
    z-index: 6;
    top: 290vh;
    width: 100vw;
    height: 2vh;
    background-color: #fc9844;
  }

  .about__divider-bottom_middle {
    display: block;
    position: absolute;
    z-index: 6;
    top: 288vh;
    width: 100vw;
    height: 2vh;
    background-color: #064a5b;
  }

  .about__divider-bottom_top {
    display: block;
    position: absolute;
    z-index: 6;
    top: 286vh;
    width: 100vw;
    height: 2vh;
    background-color: #86d1d9;
  }

  .about__subtitle {
    width: 70vw;
    color: white;
  }

  .about__text {
    width: 80vw;
    font-size: 1rem;
    line-height: 2.2vh;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2vh 2vh 0 0;
    border-radius: 20px;
    margin-top: 50vh;
  }
}

/* Mobile styles */
@media (max-width: 480px) {
  .about {
    justify-content: center;
    height: 190vh;
  }

  .about__titles {
    margin-top: 40vh;
    margin-bottom: 10vh;
    position: static;
  }

  .about_pic {
    position: absolute;
    top: 125vh;
    left: 0;
    width: 100vw;
    height: 70vh;
    z-index: 0;
  }

  .about__divider-top {
    display: block;
    position: absolute;
    z-index: 6;
    top: 210vh;
    width: 100vw;
    height: 2vh;
    background-color: #fc9844;
  }

  .about__divider-top_middle {
    display: block;
    position: absolute;
    z-index: 6;
    top: 212vh;
    width: 100vw;
    height: 2vh;
    background-color: #064a5b;
  }

  .about__divider-top_bottom {
    display: block;
    position: absolute;
    z-index: 6;
    top: 214vh;
    width: 100vw;
    height: 2vh;
    background-color: #86d1d9;
  }

  .about__divider-bottom_bottom {
    display: block;
    position: absolute;
    z-index: 6;
    top: 290vh;
    width: 100vw;
    height: 2vh;
    background-color: #fc9844;
  }

  .about__divider-bottom_middle {
    display: block;
    position: absolute;
    z-index: 6;
    top: 288vh;
    width: 100vw;
    height: 2vh;
    background-color: #064a5b;
  }

  .about__divider-bottom_top {
    display: block;
    position: absolute;
    z-index: 6;
    top: 286vh;
    width: 100vw;
    height: 2vh;
    background-color: #86d1d9;
  }

  .about__subtitle {
    width: 70vw;
    color: white;
  }

  .about__text {
    width: 80vw;
    font-size: 1rem;
    line-height: 4vh;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2vh 2vh 0 0;
    border-radius: 20px;
    margin-top: 47vh;
  }
}

/* portrait styles */
@media (orientation: portrait) {
  .about {
    justify-content: center;
  }

  .about_pic {
    position: absolute;
    top: 100vh;
    right: -10vw;
    width: 100vw;
    height: 110vh;
    z-index: 0;
  }

  .about__title {
    margin: 0;
    text-align: center;
  }

  .about__subtitle {
    width: 70vw;
    margin: 2vh auto;
    text-align: center;
  }

  .about__text {
    width: 80vw;
    font-size: 1rem;
    line-height: 1;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2vh 2vh;
    border-radius: 20px;
    margin-bottom: 2vh;
    text-align: center;
  }
}
