.services {
  width: 100vw;
  min-height: 100vh;
  background-color: #86d1d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "playfair";
}

.services__spacer {
  width: 100vw;
  height: 13vh;
  color: #86d1d9;
}

.services__title-cont {
  width: 100vw;
  height: max-content;
  background-color: #86d1d9;
  color: white;
  padding: 2vh 5vw;
  display: flex;
  justify-content: center;
}

.services__title {
  font-size: 4rem;
  font-weight: bold;
  color: #064a5b;
}

.services__card-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5vh;
  margin-bottom: 10vh;
}

.services__price {
  background-color: rgba(252, 152, 68, 0.8);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  padding: 1vh;
  position: relative;
  bottom: 106vh;
  right: 27vw;
  font-size: 0.8rem;
}

/* Desktop Styles */
@media (min-width: 1025px) {
}

/* Tablet Styles */
@media (min-width: 481px) and (max-width: 1024px) {
  .services__card-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    margin-bottom: 10vh;
  }

  .services__price {
    bottom: 372vh;
    right: -35vw;
    width: 70px;
    height: 70px;
    font-size: 0.8rem;
  }
}

/* Mobile styles */
@media (max-width: 480px) {
  .services__card-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    margin-bottom: 10vh;
  }

  .services__title {
    text-align: center;
    font-size: 2.5rem;
  }

  .services__price {
    bottom: 372vh;
    right: -35vw;
    width: 70px;
    height: 70px;
    font-size: 0.8rem;
  }
}
