.testi {
  height: 100vh;
  width: 100vw;
  background-color: white;
  padding: 0;
  color: #064a5b;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "playfair";
}

.testi__spacer {
  width: 100vw;
  height: 15vh;
  background: linear-gradient(to top, #064a5b 0%, #86d1d9 100%);
}

.testi__title-cont {
  width: 100vw;
  height: max-content;
  background-color: #064a5b;
  color: white;
  padding: 2vh 5vw;
  display: flex;
  justify-content: center;
}

.testi__title {
  font-size: 3rem;
  font-weight: normal;
}

.testi__text {
  width: 50vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.testi__name {
  color: #fc9844;
  margin: 0;
  font-size: 1.5rem;
  margin-bottom: 2vh;
}

.testi__message {
  margin: 0 0 2vh;
  font-size: 2rem;
}

/* Desktop Styles */
@media (min-width: 1025px) {
}

/* Tablet Styles */
@media (min-width: 481px) and (max-width: 1024px) {
}

/* Mobile styles */
@media (max-width: 480px) {
  .testi__title {
    margin: 2vh 15vw;
    font-size: 2.5rem;
  }

  .testi__text {
    margin: 15vh auto 5vh;
    width: 80vw;
  }

  .testi__name {
    font-size: 1.2rem;
  }

  .testi__message {
    font-size: 1.5rem;
  }
}
